.btn{
    &:link,
    &:visited {
    font-weight: 400;
    font-size: 1.6rem;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    /*text-align: center;
          /*width: 300px;
          height:50px;*/
    transition: 300ms ease;
    border-radius: 10rem;
    font-family: 'Open Sans', sans-serif;
    padding: 1.5rem 3rem; }
    &:hover{
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba( var(--color-black) , $alpha: 1.0);
    }
    &:active{
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba(var(--color-black) , $alpha: 1.0);
    }
  
  &--yellow {
    border: none;
    //font-size: 2.4rem;
    background-color: /*#ff4d4d*/var(color-primary-yellow);
    margin-top: 5rem;
    color: var(--color-white);
    font-family: 'Open Sans', sans-serif; }
    &--red::after {
      background-color: var(--color-primary-red); }
  
      &--red {
        border: none;
        font-size: 2.4rem;
        background-color: var(--color-primary-red);
        color: var(--color-white);
        font-family: 'Open Sans', sans-serif; }
        &--red::after {
          background-color: var(--color-primary-red) }
    
          &--green {
            border: none;
            font-size: 2.4rem;
            background-color:var(--color-primary-bluegreen);
            color: var(--color-white);
            font-family: 'Open Sans', sans-serif; }
            &--red::after {
              background-color:var(--color-primary-red) }
  
  &--white {
    background-color: var(--color-white);
    color:var(--color-footer-light-grey);
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2); }
    &--white::after {
      background-color: var(--color-white); }
}
div#buttonServices{
    
    left: 43%;
    margin-top: 5rem;
    position: relative;
}
.btn--form{
    display: flex;
    justify-content: center;
    align-content: center;
   }