.clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
h2{
    font-size: 3rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-transform: uppercase;
    margin: 8rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    color: var(--color-primary-red);
}

.responsiveImg{
    
        width: 100%;
        height: auto;
      
}
 
