
h2{
    font-size: 3rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-transform: uppercase;
    

    text-align: center;
    
    color: var(--color-primary-red);
}

h3.h3__footer{
    text-align: center;
    letter-spacing: 1rem;
    margin-bottom: 1rem;
    color: var(--color-primary-yellow);
  }
.responsiveImg{
    
        width: 100%;
        height: auto;
      
}
 
.row{
    display: flex;
}

.col{
    
    
    align-content: center;
   align-self: center;
}

.green{
    color: var(--color-primary-bluegreen);
}